table {
  width: 100%;
}
.card {
  max-width: 100%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.form {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.full-width {
  width: 100%;
}
